/* generate css styles for the classes home__banner and home__bannerInfo */

.home__banner {
  background-image: url("https://images.unsplash.com/photo-1529873597343-8dd8429aa148?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 448px;
  color: white;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.home__bannerInfo {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
}

/* style the button with class home__bannerButton in Header */

.home__bannerButton {
  color: white;
  background-color: rgba(233, 114, 241, 0.8);
  padding: 24px;
  border-radius: 999px;
  border-width: 0px;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.home__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 24px;
  background-color: rgba(97, 43, 190, 0.8);
  width: 400px;
  height: 60px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}


.home__message {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
  background-color: rgba(97, 43, 190, 0.8);
  width: 400px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}

.home__offers {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
  background-color: rgba(97, 43, 190, 0.8);
  width: 400px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}

.home__offer {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
  background-color: rgba(97, 43, 190, 0.8);
  width: 400px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}

.home__offersButton {
  color: white;
  background-color: rgba(233, 114, 241, 0.8);
  padding: 24px;
  border-radius: 999px;
  border-width: 0px;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}